link(rel='stylesheet', href='#{staticPrefix}/css/fancybox/jquery.fancybox-1.3.4.css')
script(src='#{staticPrefix}/js/jquery.fancybox-1.3.4.js')
if (! everyauth.loggedIn)
  div(style="display:none")
    div#auth_popup
      include ../users/new-login
  script(src='/js/authHelper.js')