#footer
  ul#footernav
    li: a(href="/") Home 
    li: a(href="/") Privacy Policy 
    li: a(href="/") Terms of Use 
    li: a(href="/") Copyright 
    li: a(href="/") Legal 
    li: a(href="/") Contact Us 
  span#copyright
    | Copyright © 2012 Wazapi. All Rights Reserved.