extends layout

block content
  if everyauth.user
    p Email: #{everyauth.user.email}

  // !=partial('fields', { locals: { d: d } })
  each book in mostRented
    include books/book
  each tag in tags
    | #{tag.name} (#{tag.frequency})