extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 Jade - node template engine
    youAreUsingJade = true
    #container
      - if (youAreUsingJade)
        p You are amazing
      - else
        p Get on it!
  label Username:
    input(name='user[name]')
  friends = 10
    case friends
      when 0
        p you have no friends
      when 1
        p you have a friend
      default
        p you have #{friends} friends
  // !=partial('fields', { locals: { d: d } })

  