!!! 5
html
  block head
    title= appName
    link(rel='stylesheet', href='#{staticPrefix}/css/style.css')
    script(src='#{staticPrefix}/js/jquery-latest.js')
  body
    include includes/header
    block content
    include includes/footer