!!! 5
html
  block head
    title= appName
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Wazapi"/>
    <meta name="keywords" content="wazapi book rent lend"/>

    link(rel="icon", type="image/gif", href="favicon.ico")
    link(rel='stylesheet', href='#{staticPrefix}/css/style.css')
    script(src='#{staticPrefix}/js/jquery-latest.js')
  body
    include includes/header
    block content
    include includes/footer