!!! 5
html
  head
    title= appName
    link(rel='stylesheet', href='#{staticPrefix}/css/style.css')
    script(src='#{staticPrefix}/js/jquery-latest.js')
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
  body
    include includes/header
    block content
    include includes/footer