body
  padding: 50px
  font: 14px Arial, sans-serif

a
  color: #00B7FF

#search_bar
  float: right

#center_box
  float: left

#general_filter
  clear: both

#shelf_box
  // overflow: auto
  width: 600px
  height: 600px
  border-style: solid
  border-width: 1px
  padding: 10px

#sidebar
  border-style: solid
  border-width: 1px
  padding: 10px
  float: left
  width: 200px

.book_box
  border-style: solid
  border-width: 1px
  float: left
  margin: 5px
  width: 185px
  height: 185px
  img.cover
    width: 180px
    height: 130px
  .rent_button, .purchase_button
    background: blue
  .purchase_only_button
    background: blue
    font: 18px Arial, sans-serif

img.cover_popup
  width: 100px
  height: 100px

#amazon_reviews
  width: 30%
  float: right

#popup_info
  width: 70%
  float: left

#header
  clear: both
#footer
  border-style: solid
  border-width: 1px
  height: 45px
  clear: both
  ul
    list-style: none
    color: blue
    float: left
    li
      display: inline
      padding-right: 15px;
  #copyright
    padding-top: 15px
    float: right