body
  padding: 50px
  font: 14px Arial, sans-serif
a
  color: #00B7FF

#top_panel
  border-style: solid
  float: left
  .mybooks_button
    background:blue
    font: 14px Arial, sans-serif

#center_box
  float: left

#general_filter
  clear: both

#shelf_box
  border-style: solid
  border-width: 1px
  padding: 10px

#sidebar
  border-style: solid
  border-width: 1px
  padding: 10px
  float: left
  width: 200px

.book_box
  border-style: solid
  border-width: 1px
  float: left
  margin: 5px
  width: 220px
  height: 220px
  img.cover
    width: 200px
    height: 150px
  .rent_button, .purchase_button
    background: blue
    font: 14px Arial, sans-serif
  .purchase_only_button
    font: 18px Arial, sans-serif

#header, #footer
  clear: both