extends ../layout

block content
  #sidebar
    a(href="javascript:alert('offer for rent')")
      | offer for rent
      br
    a(href="javascript:alert('offer for rent')")
      | offer for rent
      br
    a(href="javascript:alert('offer for rent')")
      | offer for rent
      br
    a(href="javascript:alert('offer for rent')")
      | offer for rent
  #content
    div
      p Your books in the shelf
    each instance in instances
      include ../books/book_instance

    div
      p Books you rented
    each instance in rentedBooks
      include ../books/book_instance