extends ../layout

append head
  script(src='#{staticPrefix}/js/app.js')

block content
  if(myProfile)
    #topbar
      input(type='button', value="my books", onclick="app.loadBooks('#{userId}',1);")
      input(type='button', value="rented books", onclick="app.loadBooks('#{userId}',2);")
      span: a.popup(href="#upload-popup") upload book
  
  #content    
    include update-books
  