link(rel='stylesheet', href='#{staticPrefix}/css/fancybox/jquery.fancybox-1.3.4.css')
script(src='#{staticPrefix}/js/jquery.fancybox-1.3.4.js')
div(style="display:none")
  div#upload_popup
    include new-login
script(src='/js/authHelper.js')